* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: antiquewhite;
}

.wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.shop {
  display: flex;
  gap: 30px;
}

.categories {
  width: 20%;
  color: rgb(49, 39, 26);
}

.favorite {
  color: rgb(0, 90, 0);
}

.categories-item {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}

.categories-item:hover {
  background-color: rgb(218, 170, 111);
  color: white;
}

#items {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.item-container img {
  width: 190px;
  height: 190px;
}

.item-container .fav-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.to-cart {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border: 3px solid rgb(218, 170, 111);
  transition: all .2s ease-out;
}

.to-cart:hover {
  background-color: rgb(218, 170, 111);
  color: white;
}

.cart-container {
  margin-bottom: 20px;
}

#cartblock {
  max-height: 160px;
  overflow-y: scroll;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  background-color: white;
}

.cart-item .name {
  width: 250px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.quantity, .price, .sum {
  width: 100px;
}

.btn {
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.sub, .add, .delete {
  opacity: 0.2;
  transition: opacity .2s ease-out;
}

.sub:hover, .add:hover, .delete:hover {
  opacity: 1;
}